<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="info.bpace.caffeine"
 android:versionCode="1"
 android:versionName="1.0">

	<application android:label="@string/app_name">
		<activity android:name="CaffeineMainActivity"
		 android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name="ListViewActivity"
		 android:label="@string/app_name" />
		
		<activity android:name="EditItemActivity"
		 android:label="@string/edit_item" />
		
		<activity android:name="ViewItemActivity"
		 android:label="@string/view_item" />
	</application>
</manifest> 
